<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<title><%= play[:title] %></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41592433-1', '莎士比亚.中国');
		ga('send', 'pageview');
	</script>
	<a href="https://github.com/edent/xn--jlQ54W7yPemW.xn--fiqs8s/blob/master/src/preprocessed/<%= play[:title] %>.xml"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

	<h1><%= play[:title] %></h1>

	<h2><%= play[:dptitle] %></h2>

	<% for person in play[:persons] %>
	<p class="speaker"><%= person %></p>
	<% end %>

	<% play[:acts].each_with_index do |act, act_idx| %>
	<div class="act">
		<h2><%= act[:title] %></h2>
		<% act[:scenes].each_with_index do |scene, scene_idx| %>
		<% line_index = 0 %>
		<div class="scene">
			<h3><%= scene[:title] %> </h3>
			<%		 for part in scene[:parts] %>
			<%			 if part[:stagedir] %>
			<p class="stagedir"><%= part[:stagedir] %></p>
			<%					 line_index += 1 %>
			<%			 else %>
			<p>
			<%				 for speaker in part[:speakers] %>
				<b class="speaker"><%= speaker %></b>
			<%					 line_index += 1 %>
			<%				 end %>
			<%				 for l in part[:lines] %>
			<%					 line_index += 1 %>
				<span class="line" id="<%= act_idx %>-<%= scene_idx %>-<%= line_index %>">
			<%					 if l[:type] == :stagedir %>
					<i class="<%= l[:type] %>"><%= l[:text].strip %></i><br />
			<%					 else %>
			<%						 for n in l[:lines] %>
			<%							 if n[:type] == :parenthetical %>
					<i class="parenthetical"><%= n[:text].strip %></i>
			<%							 else %>
			<%= n[:text].strip %>
			<%							 end %>
			<%						 end %>
			<%						 if line_index % 10 == 0 %>
					<a class="line" href="#<%= act_idx %>-<%= scene_idx %>-<%= line_index %>"><%= line_index %></a>
			<%						 end %>
			<%					 end %>
				</span>
			<%				 end %>
			</p>
			<%			 end %>
			<%		 end %>
		</div>
		<%	 end %> 
	</div>
	<% end %>
</body>
</html>